* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: 'Candal', sans-serif;
  letter-spacing: 5px;
  font-size: 3em;
}

p {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-size: 1.1em;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.sublogo {
  font-family: "Work Sans"; sans-serif;
  letter-spacing: 3px;
}

.landing {
  min-height: 100vh;
}

.middle-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-landing {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-15%);
}

.main-content {
  text-align: center;
}

.subcontent {
  font-size: .8em;
}

.abstract_background {
  text-align: center;
  user-select: none;
  pointer-events: none;
}

#logo {
  position: relative;
  z-index: 3;
}

#red {
  position: absolute;
  top: 0px;
  z-index: 1;
  color: #FF005C;
  opacity: .7;
  transition: transform .15s ease-out;
}

#blue {
  position: absolute;
  top: 0px;
  z-index: 2;
  color: #00B2FF;
  opacity: .7;
  transition: transform .15s ease-out;
}

#logo:hover + #red {
  position: absolute;
  transform: translate(-2.2px,-1.7px);
}

#logo:hover ~ #blue {
  position: absolute;
  transform: translate(2.2px,1.7px);
}

#jaikay_abstract{
  height: 100vh;
  width:100vw;
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
